.contenedor-hombres .main-hombres .contenedor-cartas .carta .carta-uno, .contenedor-hombres .main-hombres .contenedor-cartas .carta .carta-dos, .contenedor-hombres .main-hombres .contenedor-cartas .carta .carta-tres, .contenedor-hombres .main-hombres .contenedor-cartas .carta .carta-cuatro, .contenedor-hombres .main-hombres .contenedor-cartas .carta .carta-cinco, .contenedor-hombres .main-hombres .contenedor-cartas .carta .carta-seis, .carta-uno-mujeres, .carta-dos-mujeres, .carta-tres-mujeres, .carta-cuatro-mujeres, .carta-cinco-mujeres, .carta-seis-mujeres, .section-productos .contenedor-cartas .carta .carta-uno-productos, .section-productos .contenedor-cartas .carta .carta-dos-productos, .section-productos .contenedor-cartas .carta .carta-tres-productos {
  box-shadow: 2px 2px 5px;
  background-size: cover;
  background-position: unset; }

/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*estilos del body*/
body {
  background-color: #cac2a8;
  font-family: 'Roboto', sans-serif; }

/*estilos del header*/
.contenedor {
  height: 100vh;
  /*estilos de section*/ }
  .contenedor header {
    grid-area: header;
    background-color: #cac2a8;
    width: 100vw;
    justify-content: space-between;
    display: flex; }
    .contenedor header .logo {
      margin-top: 2rem;
      margin-left: 2rem;
      width: 100px;
      height: 100px; }
    .contenedor header nav ul {
      gap: 2rem;
      padding: 2rem;
      text-shadow: 5px 5px 10px;
      color: whitesmoke; }
      .contenedor header nav ul li:hover {
        color: black; }
  .contenedor .main-index {
    grid-area: main-index;
    height: 500px;
    width: 100vw;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/lovepik-clothing-store-picture_501098957.jpg);
    background-position: center; }
    .contenedor .main-index .texto {
      text-decoration: none;
      color: whitesmoke;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: 60vh;
      font-size: 3rem; }
  .contenedor section {
    grid-area: section;
    background-color: #cac2a8;
    height: 400px; }
    .contenedor section .int-section {
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/ropamasculina.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      height: 100%;
      margin: 5px; }
      .contenedor section .int-section .texto {
        text-decoration: none;
        color: whitesmoke;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 60vh;
        font-size: 2rem; }
  .contenedor .section-dos {
    grid-area: section-dos;
    background-color: #cac2a8;
    height: 400px; }
    .contenedor .section-dos .int-section-dos {
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/ropamujeres.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      height: 100%;
      margin: 5px; }
      .contenedor .section-dos .int-section-dos .texto {
        text-decoration: none;
        color: whitesmoke;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 60vh;
        font-size: 2rem; }
  .contenedor footer {
    grid-area: footer;
    background-color: #cac2a8;
    height: 150px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    font-size: 0.8rem;
    font-family: 'Roboto', sans-serif; }
    .contenedor footer footer h3 {
      font-size: 1.2rem; }
    .contenedor footer .redesSociales {
      margin: 0.5rem; }
    .contenedor footer a {
      text-decoration: none;
      color: black; }
    .contenedor footer a:hover {
      color: white; }
    .contenedor footer li {
      list-style: none; }

.contenedor-hombres {
  height: 100vh;
  width: 100vw; }
  .contenedor-hombres header {
    grid-area: header;
    background-color: #cac2a8;
    width: vw;
    justify-content: space-between;
    display: flex; }
    .contenedor-hombres header .logo {
      margin-top: 2rem;
      margin-left: 2rem;
      width: 100px;
      height: 100px; }
    .contenedor-hombres header nav ul {
      gap: 2rem;
      padding: 2rem;
      text-shadow: 5px 5px 10px;
      color: whitesmoke; }
      .contenedor-hombres header nav ul li:hover {
        color: black; }
  .contenedor-hombres .main-hombres {
    grid-area: main-hombres;
    background-color: #d8cabc; }
    .contenedor-hombres .main-hombres .contenedor-cartas {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem; }
      .contenedor-hombres .main-hombres .contenedor-cartas .carta {
        background-color: #90a0a0;
        display: flex;
        display: inline;
        width: 20rem;
        height: 400px;
        text-align: center;
        box-shadow: 2px 2px 5px; }
        .contenedor-hombres .main-hombres .contenedor-cartas .carta .carta-uno {
          width: 20rem;
          height: 300px;
          background-image: url(../img/ropahombres1.jpg); }
        .contenedor-hombres .main-hombres .contenedor-cartas .carta .carta-dos {
          width: 20rem;
          height: 300px;
          background-image: url(../img/ropahombres2.jpg); }
        .contenedor-hombres .main-hombres .contenedor-cartas .carta .carta-tres {
          width: 20rem;
          height: 300px;
          background-image: url(../img/ropahombres3.jpg); }
        .contenedor-hombres .main-hombres .contenedor-cartas .carta .carta-cuatro {
          width: 20rem;
          height: 300px;
          background-image: url(../img/traje4.webp); }
        .contenedor-hombres .main-hombres .contenedor-cartas .carta .carta-cinco {
          width: 20rem;
          height: 300px;
          background-image: url(../img/trajes5.jpg); }
        .contenedor-hombres .main-hombres .contenedor-cartas .carta .carta-seis {
          width: 20rem;
          height: 300px;
          background-image: url(../img/trajes5.webp);
          background-position: center; }
        .contenedor-hombres .main-hombres .contenedor-cartas .carta .nombre {
          font-size: 1.5rem;
          color: whitesmoke; }
        .contenedor-hombres .main-hombres .contenedor-cartas .carta .precio {
          color: black;
          font-size: 1.2rem; }
  .contenedor-hombres footer {
    grid-area: footer;
    background-color: #cac2a8;
    height: 150px;
    text-align: center;
    display: none;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    font-size: 0.8rem;
    font-family: 'Roboto', sans-serif; }
    .contenedor-hombres footer footer h3 {
      font-size: 1.2rem; }
    .contenedor-hombres footer .redesSociales {
      margin: 0.5rem; }
    .contenedor-hombres footer a {
      text-decoration: none;
      color: black; }
    .contenedor-hombres footer a:hover {
      color: white; }
    .contenedor-hombres footer li {
      list-style: none; }

.carta-uno-mujeres {
  width: 20rem;
  height: 300px;
  background-image: url(../img/mujeres-uno.jpg);
  background-position: unset; }

.carta-dos-mujeres {
  width: 20rem;
  height: 300px;
  background-image: url(../img/mujeres-dos.jpg);
  background-position: unset; }

.carta-tres-mujeres {
  width: 20rem;
  height: 300px;
  background-image: url(../img/mujeres-tres.jpg);
  background-position: unset; }

.carta-cuatro-mujeres {
  width: 20rem;
  height: 300px;
  background-image: url(../img/mujeres-cuatro.jpeg);
  background-position: unset; }

.carta-cinco-mujeres {
  width: 20rem;
  height: 300px;
  background-image: url(../img/mujeres-cinco.webp);
  background-position: center; }

.carta-seis-mujeres {
  width: 20rem;
  height: 300px;
  background-image: url(../img/mujeres-seis.jpg); }

.contenedor-productos {
  grid-area: contenedor-productos; }
  .contenedor-productos header {
    grid-area: header;
    background-color: #cac2a8;
    width: 100vw;
    justify-content: space-between;
    display: flex; }
    .contenedor-productos header .logo {
      margin-top: 2rem;
      margin-left: 2rem;
      width: 100px;
      height: 100px; }
    .contenedor-productos header nav ul {
      gap: 2rem;
      padding: 2rem;
      text-shadow: 5px 5px 10px;
      color: whitesmoke; }
      .contenedor-productos header nav ul li:hover {
        color: black; }
  .contenedor-productos .main-productos {
    grid-area: main-productos;
    background-color: #cac2a8; }
    .contenedor-productos .main-productos .contenedor-carrusel {
      height: 100vh;
      width: 100vw; }
      .contenedor-productos .main-productos .contenedor-carrusel .img-carrusel-1 {
        height: 100vh;
        width: 100vw;
        background-image: url(../img/carrusel-uno.webp);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat; }
      .contenedor-productos .main-productos .contenedor-carrusel .img-carrusel-2 {
        height: 100vh;
        width: 100vw;
        background-image: url(../img/carrusel-tres.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat; }
      .contenedor-productos .main-productos .contenedor-carrusel .img-carrusel-3 {
        height: 100vh;
        width: 100vw;
        background-image: url(../img/carrusel-cuatro.webp);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat; }

.section-productos {
  grid-area: section-productos;
  background-color: #dcd8cb;
  width: 100vw;
  display: none; }
  .section-productos .contenedor-cartas {
    display: flex;
    padding-top: 3rem;
    margin: 0rem 0rem 0rem 8rem;
    gap: 3rem;
    flex-wrap: wrap; }
    .section-productos .contenedor-cartas .carta {
      background-color: #90a0a0;
      display: flex;
      display: inline;
      height: 400px;
      width: 20rem;
      text-align: center;
      box-shadow: 2px 2px 5px; }
      .section-productos .contenedor-cartas .carta .carta-uno-productos {
        width: 20rem;
        height: 300px;
        background-image: url(../img/relojes.jpg);
        background-position: unset; }
      .section-productos .contenedor-cartas .carta .carta-dos-productos {
        width: 20rem;
        height: 300px;
        background-image: url(../img/cartera-uno.jpg);
        background-position: unset; }
      .section-productos .contenedor-cartas .carta .carta-tres-productos {
        width: 20rem;
        height: 300px;
        background-image: url(../img/sombreros.jpg);
        background-position: unset; }

footer {
  grid-area: footer;
  background-color: #cac2a8;
  height: 150px;
  text-align: center;
  display: none;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  font-size: 0.8rem;
  font-family: 'Roboto', sans-serif; }
  footer footer h3 {
    font-size: 1.2rem; }
  footer .redesSociales {
    margin: 0.5rem; }
  footer a {
    text-decoration: none;
    color: black; }
  footer a:hover {
    color: white; }
  footer li {
    list-style: none; }

.contenedor-contacto header {
  grid-area: header;
  background-color: #cac2a8;
  width: 100vw;
  justify-content: space-between;
  display: flex; }
  .contenedor-contacto header .logo {
    margin-top: 2rem;
    margin-left: 2rem;
    width: 100px;
    height: 100px; }
  .contenedor-contacto header nav ul {
    gap: 2rem;
    padding: 2rem;
    text-shadow: 5px 5px 10px;
    color: whitesmoke; }
    .contenedor-contacto header nav ul li:hover {
      color: black; }

.contenedor-contacto .main-contacto {
  grid-area: main-contacto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d8cabc; }
  .contenedor-contacto .main-contacto .form-contacto {
    width: 30em;
    height: 20em;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5%; }
  .contenedor-contacto .main-contacto .botonWhatsapp {
    position: fixed;
    right: 30px;
    border-radius: 50px;
    bottom: 30px;
    font-size: 30px;
    box-shadow: 0px 2px 3px;
    margin: 0px 0px 100px; }
  .contenedor-contacto .main-contacto .botonWhatsapp:hover {
    color: white; }

.contenedor-contacto footer {
  grid-area: footer;
  background-color: #cac2a8;
  height: 150px;
  text-align: center;
  display: none;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  font-size: 0.8rem;
  font-family: 'Roboto', sans-serif; }
  .contenedor-contacto footer footer h3 {
    font-size: 1.2rem; }
  .contenedor-contacto footer .redesSociales {
    margin: 0.5rem; }
  .contenedor-contacto footer a {
    text-decoration: none;
    color: black; }
  .contenedor-contacto footer a:hover {
    color: white; }
  .contenedor-contacto footer li {
    list-style: none; }

@media screen and (min-width: 0px) and (max-width: 600px) {
  .contenedor {
    display: grid;
    grid-template-areas: "header  header header header" "main-index  main-index main-index main-index" "section section  section section" "section-dos section-dos section-dos seection-dos   " "footer footer footer footer"; }
    .contenedor footer {
      display: none; }
  header {
    flex-direction: column; }
  .section-dos {
    width: 100vw; }
  .contenedor-hombres {
    display: grid;
    grid-template-areas: "header  header header header" "main-hombres  main-hombres main-hombres main-hombres" "footer footer footer footer"; }
  .contenedor-productos {
    display: grid;
    grid-template-areas: "header  header header header" " main-productos main-productos  main-productos  main-productos " "footer footer footer footer"; }
  .contenedor-contacto footer {
    display: none; }
  .contenedor-cartas {
    margin: 0rem; }
  .carta {
    width: 20rem;
    height: 200px; } }

@media screen and (min-width: 960px) {
  footer {
    display: flex; }
  .contenedor-contacto footer {
    display: flex; }
  .contenedor-hombres footer {
    display: flex; }
  .contenedor-cartas {
    padding: 2rem;
    width: auto;
    margin: 0rem 0rem 0rem 6rem; }
  .section-productos {
    display: flex; } }

@media screen and (min-width: 600px) and (max-width: 960px) {
  .contenedor {
    display: grid;
    grid-template-areas: "header  header header header" "main-index  main-index main-index main-index" "section section  section-dos section-dos" "footer footer footer footer"; }
    .contenedor footer {
      display: none; }
  .contenedor-hombres footer {
    display: none; }
  header {
    flex-direction: column; } }
