/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*estilos del body*/

body{
    background-color: $color-principal;
    font-family: 'Roboto', sans-serif;
    
    
 

} 

/*estilos del contenedor*/

.contenedor{

    height: 100vh;
    width: auto;
    overflow-x: hidden;
    


header{
    grid-area:header;
    background-color:$color-principal ;
    width: 100vw;
    justify-content:space-between ;
    display: flex;
  
   
    
    .logo{
        margin-top: 2rem;
        margin-left: 2rem;
        @include medidas(100px,100px);
    }

    nav {
    
        ul{
        
            gap: 2rem;
            padding: 2rem;
            
            text-shadow: 5px 5px 10px;
            color: whitesmoke;
            

            

            li:hover{
                color: rgb(0, 0, 0);

            }
        }
    }
    
    
}


/*estilos del main*/
.main-index{
    grid-area:main-index;
    
    height: 500px;
    width: 100vw;
    background-image:url(../img/lovepik-clothing-store-picture_501098957.jpg);
    background-position: center;
     transition: all 300ms;

    a{  text-decoration: none;
        h1{
            
            color: whitesmoke;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 60vh;
        font-size: 3rem; 
        }
    }
    
 
}

.main-index:hover{
    background-image:linear-gradient(0deg, rgba(0,0,0,0.5)
    , rgba(0,0,0,0.5) ) ,url(../img/lovepik-clothing-store-picture_501098957.jpg);
    

    transform: scale(1.1);
    
   }

/*estilos de section*/


section{grid-area: section;
    background-color:#cac2a8;
    height: 400px;
    

    .int-section{
        background-image: url(../img/ropamasculina.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
          height: 100%;
          margin: 5px;
          transition: all 300ms;
          a{  text-decoration: none;
            h2{
            text-decoration: none;
            color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 60vh;
    font-size: 2rem;
   
          }
         }
      
      }
    
      .int-section:hover{
        background-image:linear-gradient(0deg, rgba(0,0,0,0.5)
            , rgba(0,0,0,0.5) ) , url(../img/ropamasculina.jpg);
            transform: scale(1.1);
    }
}



.section-dos{grid-area: section-dos;
    background-color: #cac2a8;
    height: 400px;
    
    .int-section-dos{
        background-image:url(../img/ropamujeres.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
          height: 100%;
          margin: 5px;
          transition: all 300ms;
          a{  text-decoration: none;
            h2{
            text-decoration: none;
            color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 60vh;
    font-size: 2rem;
    
          }
         }
      
      }
     
      .int-section-dos:hover{background-image:linear-gradient(0deg, rgba(0,0,0,0.5)
        , rgba(0,0,0,0.5) ) , url(../img/ropamujeres.jpg); 
        transform: scale(1.1);}
        
      
}






/*estilos del footer*/
footer{grid-area: footer;
    background-color: #cac2a8;
    height: 150px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    font-size: 0.8rem;
    font-family: 'Roboto', sans-serif;
    width: 100vw;


    .navegacionFooter{
        margin-top: 0.5rem;

    }

    .redesSociales{
        margin-top:1rem; }
        

    .contacto{
        margin-bottom: 0.5rem;
    }
    
    

    footer h3{
        font-size: 1.2rem;
    }
 



    a{
        text-decoration: none;
        color: black;
    }

    a:hover{
        color: white;
       }

    li{
        list-style: none;
    }
    
    

}

}


