@media screen and (min-width:960px){

    
    footer{
        display: flex;
       }

    .contenedor-contacto{
        footer{
            display: flex;
           }
    }

    
    .contenedor-hombres{
        
        footer{
            display: flex;
           }
    }

    .contenedor-cartas{
        
        padding: 2rem;
        width: auto;
        margin: 0rem 0rem 0rem 6rem;
   
}

.section-productos{
    display: flex;
}

}